.opicion-menu{
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.opicion-menu .opicions{
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 15px;
    font-size: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.opicion-menu a{
    text-decoration: none;
}
.opicion-menu img{
    max-width: 15px;
}
.login{
    width: 135px;
    border: 1px solid blue;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    cursor: pointer;
}
.login img{
    max-width: 27px;
    margin-right: 3px;
}
.login-mobile{
    width: 50px;
    border: 1px solid blue;
    height: 35px;
    display: none;
    justify-content: center;
    align-items: center;
    color: blue;
    cursor: pointer;
}
.login-mobile img{
    max-width: 27px;
}

@media (max-width:850px) {
    .opicion-menu{
        width: 210px;
    }
}

@media (max-width:600px) {
    .opicion-menu{
        width: 150px;
    }
    .login-mobile{
        display: flex;
    }
    .login{
        display: none;
    }
}