.youtube-menu{
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
.youtube-menu img{
    max-width: 30px;
    cursor: pointer;
    
    background-color: #fff;
}
.yt-logo img{
    max-width: 80px;
    background-color: #fff;
}